CONLL_files/
CONLL_outfiles/
conllu_output/
CSV_Aux/
CSV_mono/
CSV_mono_go/
CSV_AUX_VERB/
CSV_paire_AUX_VERB/
PITCHTIER/
pitchtier_binary/
PNG_Aux/
PNG_mono/
PNG_mono_go/
PNG_AUX_VERB/
PNG_paire_AUX_VERB/
SLAM_output/
stage_proso/
SUD_Naija-NSC-master/
tableaux/
TSV/
WAV/
Icon
results_non_gold.json
results.json
tableaux.zip
update_conllus_prosody.ipynb
.DS_Store